# .env.example
PORT=3000
MONGO_URL=mongodb+srv://mosvvy:J8ESdgcn67vMCDFi@hwcluster.vbpyz3l.mongodb.net/team8_project?appName=HWCluster

# JWT
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
