# .env.example
PORT=3000
MONGO_URL=mongodb+srv://mosvvy:J8ESdgcn67vMCDFi@hwcluster.vbpyz3l.mongodb.net/team8_project?appName=HWCluster

# JWT
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=n-skyi
CLOUDINARY_API_KEY=624155962238282
CLOUDINARY_API_SECRET=DXjf9S2aB5asjXF32l-L-612WS4

